.bl-background {
    height: 220px;

    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/

    /*border: 3px solid grey;*/
    border-radius: 5px;

    margin: 8%;

    background: white;
}

.bl-list {
    width: 70%;

    border: 1px solid gray;
    border-radius: 5px;

    margin: 1%;

    background: white;
}

.search-area {
    height: 15%;

    display: flex;
    flex-direction: row;
}

.search {
    width: 70%;

    border: 1px solid grey;
    border-radius: 5px 0 0 5px;

    margin: 1%;
}

.search-button {
    width: 30%;

    border: 1px solid grey;
    border-radius: 0 5px 5px 0;

    margin: 1%;
}

.product-add {
    height: 50px;

    border-top: 1px solid grey;
}

.bl-bought {
    width: 25%;

    border: 1px solid gray;
    border-radius: 5px;

    margin: 1%;

    background: white;
}

.title-center {
    height: 15%;

    text-align: center;
}

.product-place-top {
    height: 35%;

    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.product-place {
    height: 35%;

    border-top: 1px solid grey;
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
}
.bl-plus {
    background: #04a613;
}